<div class="get-hired-form">
    <h1>GET HIRED</h1>
    <!-- <ul class="tab-group">
      <li class="tab" [ngClass]= "{'active': this.activatedRoute.snapshot.url[0].path == 'hire-me'}"><a href="#signup" (click)= "routeTo('register')">GET HIRED</a></li>
  </ul>  -->
    <div class="row">
        <div class="col-md-6">
            <div class="tab-content">
                <div id="signup" [ngClass]="this.activatedRoute.snapshot.url[0].path == 'hire-me' ? 'show': 'hide'">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step col-xs-2">
                                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                                <p><small>Initial Details</small></p>
                            </div>
                            <div class="stepwizard-step col-xs-2">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p><small>Address</small></p>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="firstFormGroup">
                        <div class="setup-content" id="step-1">
                            <div class="input-group-icon mt-10">
                                <div class="form-select" id="default-select">
                                    <select formControlName="skill" class="form-control" id="skill">
                                        <option disabled [selected]='true'>Select Skill Type</option>
                                        <option>Plumber</option>
                                        <option>Electrician</option>
                                        <option>Beautician</option>
                                        <option>Photographer</option>
                                        <option>Construction</option>
                                        <option>Garderner/Fencing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field-wrap">
                                <label>Name<span class="req">*</span></label>
                                <input type="text" required autocomplete="off" formControlName="name" />
                                <div *ngIf="firstFormGroup.controls.name.touched && firstFormGroup.controls.name.invalid" class="invalid-feedback">
                                    <div>First Name is required</div>
                                </div>
                            </div>
                            <div class="field-wrap">
                                <label>Email Address<span class="req">*</span></label>
                                <input type="email" required autocomplete="off" formControlName="email" />
                                <div *ngIf="firstFormGroup.controls.email.touched && firstFormGroup.controls.email.invalid" class="invalid-feedback">
                                    <div>Proper Email is required</div>
                                </div>
                            </div>
                            <div class="field-wrap">
                                <label>Set A Password<span class="req">*</span></label>
                                <input type="password" required autocomplete="off" formControlName="password" />
                                <div *ngIf="firstFormGroup.controls.password.touched && firstFormGroup.controls.password.invalid" class="invalid-feedback">
                                    <div>Password is required</div>
                                </div>
                            </div>
                            <button type="submit" class="button button-block nextBtn" (click)="formgroupValidator(firstFormGroup)">Next</button>
                        </div>
                    </form>
                    <section>
                        <form [formGroup]="registrationFormGroup">
                            <div class="setup-content" id="step-2">
                                <div class="field-wrap">
                                    <label>Address<span class="req">*</span></label>
                                    <input type="text" required autocomplete="off" formControlName="address" />
                                    <div *ngIf="registrationFormGroup.controls.address.touched && registrationFormGroup.controls.address.invalid" class="invalid-feedback">
                                        <div>Address is required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field-wrap" *ngIf="countries">
                                            <select formControlName="country" class="form-control" id="country" (change)="getState($event.target.value)">
                                                <option disabled [selected]= selected>Select Country</option>
                                                <ng-container *ngFor="let country of countries | keys">
                                                    <option value="{{countries[country].country_code}}">{{countries[country].country_name}}</option>
                                                </ng-container>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-wrap">
                                            <select formControlName="state" class="form-control" id="state" (change)="getCity($event.target.value)">
                                                <option disabled [selected]='true'>Select State</option>
                                                <ng-container *ngFor="let state of states | keys">
                                                    <option value="{{state}}">{{states[state].label}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field-wrap">
                                            <select formControlName="city" class="form-control" id="city" (change)="getPincode($event.target.value)">
                                                <option disabled [selected]='true'>Select City</option>
                                                <ng-container *ngFor="let city of cities | keys">
                                                    <option value="{{city}}">{{cities[city].label}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-wrap">
                                            <select formControlName="pincode" class="form-control" id="pincode">
                                                <option disabled [selected]='true'>Select Pincode</option>
                                                <ng-container *ngFor="let pincode of pincodes | keys">
                                                    <option value="{{pincode}}">{{pincode}}</option>
                                                </ng-container>
                                            </select>
                                            <!-- <label>Pincode<span class="req">*</span></label>
                                            <input type="text" required autocomplete="off" formControlName="pincode" id="pincode" />
                                            <div *ngIf="registrationFormGroup.controls.pincode.touched && registrationFormGroup.controls.pincode.invalid" class="invalid-feedback">
                                                <div>Pincode is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="field-wrap">
                                    <label>Contact<span class="req">*</span></label>
                                    <input type="text" required autocomplete="off" formControlName="contact" />
                                    <div *ngIf="registrationFormGroup.controls.contact.touched && registrationFormGroup.controls.contact.invalid" class="invalid-feedback">
                                        <div>Contact is required</div>
                                    </div>
                                </div>
                                <button type="submit" class="button button-block nextBtn" (click)="formgroupValidator(firstFormGroup);register()">Register</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div><!-- tab-content -->
        </div>
        <div class="col-md-1">
            <div id="verticle-line"></div>
        </div>

        <div class="col-md-5">
            <div id="rightPanel">
                <div class="field-wrap regimage" [class.hide]='form1Complete'>
                    <img src="../../assets/img/register.png" style="width:100%;height:400px">
                </div>
                <div class="field-wrap" [class.hide]='!form1Complete'>
                    <div #gmap style="width:100%;height:400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>