<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 pb-30 header-text text-center">
          <h1 class="mb-10 project-title">Your Project. Our Expertise.</h1>
          <p>
            Imagine what you want to build or change, we will be at your door step.
          </p>
        </div>
      </div>						
      <div class="row">
        <div class="col-lg-3">
            <div class="single-service">
              <div class="thumb">
                <img src="../../assets/img/s1.jpg" alt="">									
              </div>
              <h4  (click)="gotoDetailsPage('Construction')">Construction & Design</h4>
              <p>
                Be it Constuction, Painting or Repair. We are here to make the house your sweet home.</p>
                <button type="button" class="btn btn-primary next-step">Start Project</button>
            </div>
          </div>
        <div class="col-lg-3">
          <div class="single-service">
            <div class="thumb">
              <img src="../../assets/img/s2.jpg" alt="">									
            </div>
            <h4  (click)="gotoDetailsPage('Plumbling')">Plumbing & Installations</h4>
            <p>
              Wank a Perfect Jacuzzi for your summer or A modern Sink ? Leaking tap or a new Pipeline?
            </p>
              <button type="button" class="btn btn-primary next-step">Start Project</button>
    
            
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-service">
            <div class="thumb">
              <img src="../../assets/img/s3.jpg" alt="">									
            </div>
            <h4 (click)="gotoDetailsPage('Cleaning')">Cleaning & Arrangement</h4>
            <p>
              Had a hard party last night? Getting bored! Want your room to have a new look or Just Clean Up.
            </p>
              <button type="button" class="btn btn-primary next-step">Start Project</button>
            
          </div>
        </div>
        <div class="col-lg-3">
            <div class="single-service">
              <div class="thumb">
                <img src="../../assets/img/s4.jpg" alt="">									
              </div>
              <h4 (click)="gotoDetailsPage('Deep Cleaning')">Home Deep Cleaning</h4>
              <p>
                We can make your belongings shine and look like it was bought just yesterday .Give us a call.
              </p>
                <button type="button" class="btn btn-primary next-step">Start Project</button>
              
            </div>
          </div>												
      </div>
      <div class="row">
          <div class="col-lg-3">
            <div class="single-service">
              <div class="thumb">
                <img src="../../assets/img/s5.jpg" alt="">									
              </div>
              <h4 (click)="gotoDetailsPage('electrician')">Electrician</h4>
              <p>
              Let there be light around you. New or repair, we got it all. 
                
              </p>
              <button type="button" class="btn btn-primary next-step">Start Project</button>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-service">
              <div class="thumb">
                <img src="../../assets/img/s6.jpg" alt="">									
              </div>
              <h4>Movers & Packers</h4>
              <p>
                Travelling or Moving Somewhere. Lets do the hard work. 
                
      
              </p>
              <button type="button" class="btn btn-primary next-step">Start Project</button>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-service">
              <div class="thumb">
                <img src="../../assets/img/s7.jpg" alt="">									
              </div>
              <h4>Pest Control</h4>
              <p>
                We have people who can keep your bugs away.               
              </p>
              <button type="button" class="btn btn-primary next-step">Start Project</button>
            </div>
          </div>
          <div class="col-lg-3">
              <div class="single-service">
                <div class="thumb">
                  <img src="../../assets/img/s8.jpg" alt="">									
                </div>
                <h4>Photographers</h4>
                <p>
                  It happens only once. Make it memorable.
                  
                </p>
                <button type="button" class="btn btn-primary next-step">Start Project</button>
              </div>
            </div>												
        </div>



    </div>	
    </section>
    <!-- End service Area -->