

<!-- start banner Area -->
<section class="banner-area relative" id="home">
<div class="overlay overlay-bg"></div>
<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="banner-content col-lg-12 col-md-12">
      <h6 class="text-uppercase">Don’t look further, here is the key</h6>
      <h1>
        We’re your Home Service One Stop Shop.		
      </h1>
      <p class="text-white">
        A trusted and quick solution to getting things done your way.
      </p>
      <a href="#" [routerLink]="['/hire-me']" class="primary-btn header-btn text-uppercase">Get Hired</a>
      <span class="text-white">
      - OR - 
      </span>
      <a href="#" [routerLink]="['/hire']" class="primary-btn header-btn text-uppercase">Hire</a>
    </div>
    <div class="banner-content col-md-10 search-bar">	
        <app-search></app-search>
    </div>										
  </div>
  
</div>
</section>
<!-- End banner Area -->
<div id="about" class="about">
<app-service-list></app-service-list>	
<app-quote-request></app-quote-request>
</div>
<div id="service" class="service">
<app-service-desciptions></app-service-desciptions>
</div>




<!-- Start faq Area -->
<section class="faq-area section-gap relative">
<div class="overlay overlay-bg"></div>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-3 col-md-6">
      <div class="single-faq">
        <div class="circle">
          <div class="inner"></div>
        </div>
        <h5><span class="counter">2</span>K+</h5>
        <p>
          Projects Completed
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="single-faq">
        <div class="circle">
          <div class="inner"></div>
        </div>
        <h5><span class="counter">1</span>K</h5>
        <p>
          Professionals With Us
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="single-faq">
        <div class="circle">
          <div class="inner"></div>
        </div>
        <h5 class="counter">959</h5>
        <p>
          Happy Clients
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="single-faq">
        <div class="circle">
          <div class="inner"></div>
        </div>
        <h5 class="counter">99%</h5>
        <p>
          Success Rate 
        </p>
      </div>
    </div>																		
  </div>
</div>	
</section>
<!-- End faq Area -->

<section class="project-area" id="project">
      <hr>
      <div class="container">
      <p id="otherHeading">Other Services in your locality</p>
      <div class="row">
          <div class="col-lg-4">
              <p><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Electric Wiring installation </p>
              
          </div>
          <div class="col-lg-4">
              <p><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> RO or Water Purifier Repair</p>
          </div>
          <div class="col-lg-4">
              <p><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Furniture and Wood Work</p>    
          </div>
      </div>
    </div>
      <hr>
</section>
<!-- Start project Area -->
<!-- <section class="project-area section-gap" id="project">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 pb-30 header-text text-center">
      <h1 class="mb-10">Latest Finished Projects</h1>
      <p>
        Who are in extremely love with eco friendly system..
      </p>
    </div>
  </div>						
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <a href="../../assets/img/p1.jpg" class="img-gal">
        <img class="img-fluid single-project" src="../../assets/img/p1.jpg" alt="">
      </a>	
    </div>
    <div class="col-lg-4 col-md-4">
      <a href="../../assets/img/p2.jpg" class="img-gal">
        <img class="img-fluid single-project" src="../../assets/img/p2.jpg" alt="">
      </a>	
    </div>						
    <div class="col-lg-6 col-md-6">
      <a href="../../assets/img/p3.jpg" class="img-gal">
        <img class="img-fluid single-project" src="../../assets/img/p3.jpg" alt="">
      </a>	
    </div>
    <div class="col-lg-6 col-md-6">
      <a href="../../assets/img/p4.jpg" class="img-gal">
        <img class="img-fluid single-project" src="../../assets/img/p4.jpg" alt="">
      </a>	
    </div>		
  </div>
</div>	
</section> -->
<!-- End project Area -->
    
<!-- Start feedback Area -->
<section class="feedback-area section-gap relative" id="feedback">
<div class="overlay overlay-bg"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 pb-30 header-text text-center">
      <h1 class="mb-10 text-white">Enjoy our Client’s Feedback</h1>
      <p class="text-white">
        Who are in extremely love with our awesome service.
      </p>
    </div>
  </div>			
  <div class="row feedback-contents justify-content-center align-items-center">
    <div class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
      <div class="overlay overlay-bg"></div>
      <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="../../assets/img/play-btn.png" alt=""></a>
    </div>
    <div class="col-lg-6 feedback-right">
      <div class="active-review-carusel">
        <div class="single-feedback-carusel">
          <div class="title d-flex flex-row">
            <h4 class="text-white pb-10">Jonty</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>								
            </div>										
          </div>
          <p class="text-white">
              Hired #stockblockframes as wedding photographer…Great resource through #NeighbourX
          </p>
        </div>
        <div class="single-feedback-carusel">
          <div class="title d-flex flex-row">
            <h4 class="text-white pb-10">Petrotia</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>								
            </div>										
          </div>
          <p class="text-white">
              Being a new mom is super time consuming and you guys came to my rescue with your awesome home salon services! Thanks!
          </p>
        </div>
        <div class="single-feedback-carusel">
          <div class="title d-flex flex-row">
            <h4 class="text-white pb-10">Carolina</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked	"></span>								
            </div>										
          </div>
          <p class="text-white">
              Great service! Works on a very systematic process and consists of good technicians
          </p>
        </div>																
      </div>
    </div>
  </div>
</div>	
</section>
<!-- End feedback Area -->


<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 pb-30 header-text">
      <h1>Latest posts from our Blog</h1>
      <p>
        We work for your Smiles and Satisfaction. At the days end we aim to have a trusted long relationship.
      </p>
    </div>
  </div>
  <div class="row">	
    <div class="single-blog col-lg-4 col-md-4">
      <div class="thumb">
        <img class="f-img img-fluid mx-auto" src="../../assets/img/b1.jpg" alt="">	
      </div>
      <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
        <div>
          <img class="img-fluid" src="../../assets/img/user.png" alt="">
          <a href="#"><span>Mark Wiens</span></a>
        </div>
        <div class="meta">
          13th Dec
          <span class="lnr lnr-heart"></span> 15
          <span class="lnr lnr-bubble"></span> 04
        </div>
      </div>							
      <a href="#">
        <h4>On the wheels cleaning services</h4>
      </a>
      <p>
        Cleaning services on time in your locality daily. A call away services that promises you get things done when you want it.
      </p>
    </div>
    <div class="single-blog col-lg-4 col-md-4">
      <div class="thumb">
        <img class="f-img img-fluid mx-auto" src="../../assets/img/b2.jpg" alt="">	
      </div>
      <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
        <div>
          <img class="img-fluid" src="../../assets/img/user.png" alt="">
          <a href="#"><span>Mark Wiens</span></a>
        </div>
        <div class="meta">
          13th Dec
          <span class="lnr lnr-heart"></span> 15
          <span class="lnr lnr-bubble"></span> 04
        </div>
      </div>							
      <a href="#">
        <h4>Pets grooming on the call.</h4>
      </a>
      <p>
        Having a pet is awesome but sometimes too much of a work. Get your job done, with one call. You want expert advice or let them do it. You choose.
      </p>
    </div>
    <div class="single-blog col-lg-4 col-md-4">
      <div class="thumb">
        <img class="f-img img-fluid mx-auto" src="../../assets/img/b3.jpg" alt="">	
      </div>
      <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
        <div>
          <img class="img-fluid" src="../../assets/img/user.png" alt="">
          <a href="#"><span>Mark Wiens</span></a>
        </div>
        <div class="meta">
          13th Dec
          <span class="lnr lnr-heart"></span> 15
          <span class="lnr lnr-bubble"></span> 04
        </div>
      </div>							
      <a href="#">
        <h4>Electric lights on Sale. Sorry! Resale.</h4>
      </a>
      <p>
        Everybody loves lights. Different kinds. What if you can have differnt each year. Hardly a hole in your pocket. Leave it on them.
      </p>
    </div>												
              
                
  </div>
  <div class="card">
      <div class="card-body">
      <h5 class="card-title">Are you an Expert?</h5>
      <p class="card-text">We are expanding our business at a rapid rate.</p>
      <a href="#" class="btn btn-primary" style="font-size: 16px;">JOIN US</a>
    </div>
  </div>

</div>	
</section>
<!-- end blog Area -->	