.lift-text {
    font-weight: 600;
}
.proj_desc{
    padding-top: 20px; 
    padding-bottom: 20px; 
}
.proj_desc .verfn_proc{
    padding-top: 20px; 
    padding-bottom: 20px; 
}
.proj_desc .btn{
    font-size: 14px;
}