<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Your Project is just waiting to be implemented.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="proj_desc">
          <div>Before we connect you to your service pros we need to verify your contact information. A customer care representative will follow up with you to verify your information.</div>
          <div class="verfn_proc"><strong>Want to speed up the verification process?</strong></div>
          <span class="lift-text ">Call (888) 846-0966 &nbsp; or &nbsp;</span>
          <button type="button " class="btn btn-primary " data-livechat=" ">Start Live Chat</button>
      </div>
  </div>
  <div class="col-md-4 ">
      <div>
        <h4>Need Help 0000-0000-0000-XXXX.</h4>
      </div>
  </div>

</div>
<div class="row ">
    <div class="col-md-8 ">
        <img src="../../assets/img/graph-design.gif " alt="Loading " title="Loading " />
    </div>
    <div class="col-md-4 ">
      
    </div>
  
  </div>
</div>